table#roster {
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#roster td, #roster th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#roster tr:nth-child(even){background-color: #f2f2f2}

#roster th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #04AA6D;
    color: white;
}